<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Log in again</title>
	<link href="style.css" rel="stylesheet" th:href="@{/css/style.css}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet"> 
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<span>student service web app</span>				
		</div><!-- end of #header -->
		<div id="main">
			<h3>Try again...</h3>
			<form action="loginForm" method="POST">
				<input type="text" name="usernameOrEmail"
					placeholder="username/email" />
				<br><br>
				<input type="password" name="password"
					placeholder="password" />
					<br><br>
				<input id="submitButton" type="submit" value="Log in"/>
			</form>
		</div><!-- end of #main -->
		<div id="footer">
			<p>Copyright &copy 2019 Milan Vujanic</p>
		</div><!-- end of #footer -->
	</div> <!-- end of #wrapper -->	
</body>
</html>