<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Add questionnaire</title>
	<link href="style.css" rel="stylesheet" th:href="@{/css/style.css}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet"> 	
</head>
<body>
	<div id="wrapper">
	
		<div th:replace="teacher/fragments/headerTeacher :: headerReplace">
		</div>
		
		<div id="main">
			<form th:action="@{'addQuestionnaireConfirmation?teacherUsername=' + ${teacherUsername}
							+ '&teacherName=' + ${teacherName} + '&teacherSurname=' 
							+ ${teacherSurname} + '&teacherCategoryDescription='
							+ ${teacherCategoryDescription}}" method="POST">
			    <select name="selectedSubjectQuestionnaire">
			        <option th:each="tempSubject : ${teachersSubjects}"
			               th:value="${tempSubject.subjectTitle}"
			               th:text="${tempSubject.subjectTitle}">
			       </option>
				</select>
				<input type="submit" value="Submit" />							    
			</form>		
		</div> <!-- end of #main -->
		
		<div id="footer">		
		</div> <!-- end of #footer -->
		
	</div> <!-- end of #wrapper -->
</body>
</html>