<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Questionnaire adding error</title>
	<link href="style.css" rel="stylesheet" th:href="@{/css/style.css}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet"> 	
</head>
<body>
	<div id="wrapper">
	
		<div th:replace="teacher/fragments/headerTeacher :: headerReplace">
		</div>
		
		<div id="main">
			<h3 th:text="${selectedSubjectQuestionnaire} + 'questionnaire not added'"></h3>			
			<a th:href="@{'indexTeacher?teacherUsername=' + ${teacherUsername}
							+ '&teacherName=' + ${teacherName} + '&teacherSurname=' 
							+ ${teacherSurname} + '&teacherCategoryDescription='
							+ ${teacherCategoryDescription}}">Back to teachers homepage</a>
		</div> <!-- end of #main -->
		
		<div id="footer">		
		</div> <!-- end of #footer -->
		
	</div> <!-- end of #wrapper -->
</body>
</html>