<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Add question</title>
	<link href="style.css" rel="stylesheet" th:href="@{/css/style.css}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet"> 	
</head>
<body>
	<div id="wrapper">
	
		<div th:replace="teacher/fragments/headerTeacher :: headerReplace">
		</div>
		
		<div id="main">
			<form th:action="@{'addQuestionConfirmation?teacherUsername=' + ${teacherUsername}
							+ '&teacherName=' + ${teacherName} + '&teacherSurname=' 
							+ ${teacherSurname} + '&teacherCategoryDescription='
							+ ${teacherCategoryDescription}
							+ '&selectedSubjectQuestionnaire=' + ${selectedSubjectQuestionnaire}
							+ '&questionnaireId=' + ${questionnaireId}}" method="POST">
				<p><b>Choose question type:</b></p>
								
				<select id="selection" name="selectedQuestionType">
		            <option value="1">Radio button</option>
		            <option value="2">Check box</option>
		            <option value="3">Write answer</option>
		        </select>
				
				<div id="replace_div">
				</div>
				<br>
				<input type="submit" value="Submit" />	
				<hr>
				<a th:href="@{'indexTeacher?teacherUsername=' + ${teacherUsername}
							+ '&teacherName=' + ${teacherName} + '&teacherSurname=' 
							+ ${teacherSurname} + '&teacherCategoryDescription='
							+ ${teacherCategoryDescription}}">Back to teachers homepage</a>		    
			</form>				
			
		</div> <!-- end of #main -->
		
		<div id="footer">		
		</div> <!-- end of #footer -->
		
	</div> <!-- end of #wrapper -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
				        
	        $('#selection').change(getQuestionType);
		
	        function getQuestionType() {
	        	if ($('#selection').val() === "1") {
	        		$('#replace_div').html("");
		        	$('#replace_div').append('<br>Question: <textarea name="question_text" cols="32" rows="3"></textarea> <br><br>Answer 1: <input type="text" name="answer_1" /> <br> Answer 2: <input type="text" name="answer_2" /> <br> Answer 3: <input type="text" name="answer_3" /> <br> Answer 4: <input type="text" name="answer_4" /> <br> Answer 5: <input type="text" name="answer_5" />');
                } else if ($('#selection').val() === "2") {
                	$('#replace_div').html("");
    	        	$('#replace_div').append('<br>Question: <textarea name="question_text" cols="32" rows="3"></textarea> <br><br>Answer 1: <input type="text" name="answer_1" /> <br> Answer 2: <input type="text" name="answer_2" /> <br> Answer 3: <input type="text" name="answer_3" /> <br> Answer 4: <input type="text" name="answer_4" /> <br> Answer 5: <input type="text" name="answer_5" />');
                } else if ($('#selection').val() === "3") {
                	$('#replace_div').html("");
    	        	$('#replace_div').append('<br>Question: <textarea name="question_text" cols="32" rows="3"></textarea> <input type="hidden" name="answer_1" /> <input type="hidden" name="answer_2" /> <input type="hidden" name="answer_3" /><input type="hidden" name="answer_4" /> <input type="hidden" name="answer_5" />');
                }
				
	        }
	    })		
        
     </script>
	
</body>
</html>