<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Teachers</title>
	<link href="style.css" rel="stylesheet" th:href="@{/css/style.css}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet"> 	
</head>
<body>
	<div id="wrapper">
	
		<div th:replace="teacher/fragments/headerTeacher :: headerReplace">
		</div>
		
		<div id="main">
			<div id="placeholder">
			</div>
		</div> <!-- end of #main -->
		
		<div id="footer">		
		</div> <!-- end of #footer -->
		
	</div> <!-- end of #wrapper -->
</body>
</html>