<div th:fragment="headerReplace">
<div id="header">
	<img th:src="@{/images/teacher.jpeg}" alt="teacher" />
	<div id="nav">	
		<ul>
			<li class="questionnaire"><a th:href="@{teacherQuestionnaires}">Questionnaires</a>
				<ul>
					<li><a th:href="@{'addQuestionnaire?teacherUsername=' + ${teacherUsername}
							+ '&teacherName=' + ${teacherName} + '&teacherSurname=' 
							+ ${teacherSurname} + '&teacherCategoryDescription='
							+ ${teacherCategoryDescription}}">Add questionnaire</a></li>
					<li><a th:href="@{removeQuestionnaire}">Remove questionnaire</a></li>
				</ul>
			</li>
			<li class="test"><a th:href="@{teacherTests}">Tests</a>
				<ul>
					<li><a th:href="@{addTest}">Add test</a></li>
					<li><a th:href="@{evaluateTest}">Evaluate test</a></li>
					<li><a th:href="@{removeTest}">Remove test</a></li>
				</ul>
			</li>
		</ul>		
	</div> <!-- end of #nav -->
	<div id="teacherData">
		<p class="first">
			<th:block th:text="${teacherCategoryDescription}"/>
  				<br/>
  				<th:block th:text="${teacherName} + ' ' + ${teacherSurname}"/>
		</p>
		<p class="second"><a th:href="@{/}">Log out</a></p>
	</div> <!-- end of #teacherData -->
</div> <!-- end of #header -->
</div>