body {
    margin:0;
    padding:0;
    background-color: #e6f9ff;    
    font-family:'Open Sans', sans-serif;
}

img {
	vertical-align:bottom;
	max-width:200px;
}

#wrapper {
	background-color: #b3ccff;
	margin: 0 auto;
	width: 960px;	
    overflow:hidden;
}

#header {
	text-align: center;
}

#header span {
	display:table;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 2em;
	line-height:80px;
	color: #0044cc;
	font-weight: bold;
}

#header img {
	float:left;
	padding:0;
	margin:0;
}

#header a {
	margin:0;
	padding:0
}

#nav {
	float:left;
	padding-top:32px;
	padding-left:50px;
}

#nav ul {
    list-style-type:none;
    padding:0;
    margin:0;
}

#nav ul li {
    float:left;
    position:relative;
    z-index:10;
}

#nav ul li a {
    text-decoration:none;
    font-weight:bold;
    display:block;
    padding:0 15px;
    line-height:80px;
    text-align:center;
}

#nav ul li a:link,
#nav ul li a:visited {
    color: #0044cc;
}

#nav ul li a:hover {
    background-color:#0044cc;
    color:#FFFFFF;
}

#nav ul li a:active {
    background-color:#0044cc;
    color:#FFFFFF;
}

#nav ul li ul {
    width:220px;
    position:absolute;
    top:100%;
    left:0;
    background-color:#8fb4ef;
    display:none;
}

#nav ul li ul li {
    width:100%;
    float:none;    
}

#nav ul li ul li a {
    text-align:left;    
}

#nav ul li:hover>ul {
    display:block;
}

#nav ul li ul li a {
    line-height:60px;   
}

#teacherData {
	float:right;
	padding-right:70px;
	padding-top:32px;
}

#teacherData p {	
	margin:0;
	text-align:left;
}

#teacherData .first {	
	padding:0;
}

#teacherData .second {	
	padding:10px 0 0 0;
}

#teacherData p a:link,
#teacherData p a:visited{	
	color: #0044cc;
	text-decoration:none;
}

#teacherData p a:hover {
    font-weight:bold;
    color:#FFFFFF;
}

#teacherData p a:active {
    background-color:#0044cc;
    color:#FFFFFF;
}

#main {
	clear:both;
	width: 960px;
	text-align:center;
	border-top: 3px solid #8fb4ef;	
	position:relative;
	z-index:1;
}

h3 {
	color: #0044cc;
}

#main #placeholder {
	height:500px;
}

#main form {
	padding: 40px;
	display:inline-block;
	text-align:center;
	border : 3px solid #6689c1;
	border-radius: 20px;
	margin:60px 0;
}

#submitButton {
	width:100%;
}

#footer {
	color: #0044cc;
	text-align:center;
	border-top: 3px solid #8fb4ef;
}




























